<div class="text-center">
  <div class="row no-margin">
    <div class="col-md-6 no-padding banner">
      <h1 class="greeting align-vertical">Hi, my name is Amy.</h1>        
    </div>
    
    <div class="col-md-6 about-me">
      <div class="container align-vertical">
        <h2 class="quote">I enjoy <span class="underline">finding solutions.</span></h2>
        <p>I've worked at companies such as Disney, NASA JPL, AT&T and even started/sold my own company. 
          I'm the type of person who is willing to get the job done. If you're interested in working with me then <a href="mailto: yo@amythuta.com">let's chat</a>.
        </p>
      </div>
  </div>
</div>

<div class="footer cust-pad">
    <div class="container">
      <div class="text-center">              
        <ul>
          <li>Connect with me:</li>
          <li>
            <a href="http://linkedin.com/in/nguyetta" target="_blank">
              <img class="social-icon" src="assets/images/linkedin.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
